.-text {
  font-size: rem(14);
  line-height: rem(21);
  font-weight: normal;
  color: $color__text_medium;

  p {
    margin: 0;

    &:not(:last-child) {
      margin-bottom: rem(8);
    }
  }
}

.-h1 {
  font-size: rem(24);
  line-height: rem(26);
  font-weight: 500;
  margin: 0 0 calc(var(--marginY) * 1rem);
}

.-h2 {
  font-size: rem(18);
  line-height: rem(21);
  font-weight: 500;
  margin: 0 0 calc(var(--marginY) * 1rem);
}

.-h3 {
  font-size: rem(16);
  line-height: rem(18);
  font-weight: 500;
  margin: 0 0 calc(var(--marginY) * 0.5rem);
}

.-h4 {
  font-size: rem(13);
  line-height: rem(16);
  font-weight: normal;
  margin: 0 0 calc(var(--marginY) * 0.5rem);
}

.-t-center {
  text-align: center;
}

.-t-right {
  text-align: right;
}

.-t-left {
  text-align: left;
}

.-t-cut {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.-t-cut-lines {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.-maxw-700 {
  max-width: rem(700);
}
