@each $name, $bp in $mqs {
  .-hide-on-#{$name} {
    @include for-width(+#{$name}) {
      display: none;
    }
  }
  .-show-on-#{$name} {
    //@include for-width(-#{map-get-prev($mqs, $name)}) {
    @include for-width(-#{$name}) {
      display: none;
    }
  }
}

.-mt-1 {
  margin-top: rem(8) !important;
}

.-mt-2 {
  margin-top: rem(16) !important;
}

.-mt-3 {
  margin-top: rem(32) !important;
}

.-mt-4 {
  margin-top: rem(64) !important;
}

.-mb-1 {
  margin-bottom: rem(8) !important;
}

.-mb-2 {
  margin-bottom: rem(16) !important;
}

.-mb-3 {
  margin-bottom: rem(32) !important;
}

.-mb-4 {
  margin-bottom: rem(64) !important;
}

.-mr-1 {
  margin-right: rem(8) !important;
}

.-mr-2 {
  margin-right: rem(16) !important;
}

.-mr-3 {
  margin-right: rem(32) !important;
}

.-mr-4 {
  margin-right: rem(64) !important;
}

.-ml-1 {
  margin-left: rem(8) !important;
}

.-ml-2 {
  margin-left: rem(16) !important;
}

.-ml-3 {
  margin-left: rem(32) !important;
}

.-ml-4 {
  margin-left: rem(64) !important;
}
