.b-pagination {
  display: flex;
  border-radius: rem(2);
  overflow: hidden;
}

.b-pagination__button {
  flex: auto 1 rem(32);
  font-family: inherit;
  font-size: rem(13);
  line-height: 1;
  text-align: center;
  color: $color__text_medium;
  text-decoration: none;
  border: 1px solid $color__button;
  outline: none;
  background: #fff;
  padding: rem(8) rem(8) rem(7);
  cursor: pointer;
  transition: all 0.3s;

  &:not(:last-child) {
    border-right: none;
  }

  &:hover,
  &.nuxt-link-exact-active {
    color: #fff;
    background: $color__button;
  }
}
